<div class="app-container container">
  <div class="title">Image Uploader</div>
  <div class="loader" *ngIf="loading">Uploading...</div>
  <div class="server-error" *ngIf="error && error.statusText">
    {{ error.statusText }}
  </div>
  <div class="success" *ngIf="success">
    File uploaded succeessfully.
  </div>

  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Description</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        placeholder="Description"
      />
      <div class="invalid-feedback" style="display: block;">
        <ng-container *ngIf="hasError('description', 'required')"
          >This field is required</ng-container
        >
      </div>
    </div>

    <div class="form-group">
      <app-file-upload formControlName="file"></app-file-upload>
      <div class="invalid-feedback" style="display: block;">
        <ng-container *ngIf="hasError('file', 'required')"
          >This field is required</ng-container
        >
        <ng-container *ngIf="hasError('file', 'allowedFileType')"
          >Invalid file type selected. Allowed file types are :
          {{ allowedImageFileTypes }}</ng-container
        >
        <ng-container *ngIf="hasError('file', 'allowedFileSize')"
          >Max allowed file size is:
          {{ allowedImageFileSizeKB }}KB</ng-container
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      Submit
    </button>
  </form>
</div>
